*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000;
  color: #fff;
  font-family: "Arial";
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  height: 77px;
  position: fixed;
  top: 10px;
  left: 50%;
  translate: -50%;
  border-radius: 50px;
  background-color: #1A1A1A99;
  backdrop-filter: blur(20px);
  padding: 0 30px 0 60px;
  z-index: 9;
}
.bar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-size: 24px;
}
.bar p{
  cursor: pointer;
}
.launch-app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 189px;
  height: 53px;
  background-color: #D9D9D9C9;
  border-radius: 30px;
  cursor: pointer;
}
.launch-app p{
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
header{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 330px 0 0 0;
}
header h1{
  font-size: 60px;
  font-weight: 800;
}
header p{
  font-size: 22px;
  font-weight: 300;
}
.stores{
  display: flex;
  gap: 60px;
}
.store{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 200px;
  height: 66px;
  background-color: #7E7E7E4A;
  border-radius: 12px;
  border: 1px solid #FFFFFF33;
  font-size: 22px;
  cursor: pointer;
}
.app-store{
  background-color: #D9D9D9E5;
  color: #000;
}
.light-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 720px;
  height: 720px;
  top: 630px;
  left: 50%;
  translate: -50%;
  border-radius: 50%;
  padding: 160px;
}
.light{
  width: 720px;
  height: 550px;
  background: radial-gradient(#B7BA31 20%, rgba(185, 113, 61, 1) 100%);
  backdrop-filter: blur(600px);
  filter: blur(600px);
  border-radius: 50%;
}

.cards{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 238px 0 200px;
}
.card{
  position: relative;
  width: 450px;
  height: 300px;
  border-radius: 40px;
  border: 2px solid #FFFFFF1F;
  background-color: #FFFFFF14;
  padding: 55px 0 68px 60px;
}
.p-num{
  color: transparent;
  font-size: 40px;
  font-weight: bold;
  width: max-content;
  margin: 0 0 20px;
}
.corner-icon{
  position: absolute;
  top: -27px;
  right: -27px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #FFFFFF1F;
  background-color: #FFFFFF1A;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.undernum{
  font-size: 25px;
  font-weight: 800;
  color: #FFFFFFCC;
  opacity: .6;
  margin: 0 0 57px;
}
.card-caption{
  font-size: 30px;
  font-weight: bold;
}

.earn-while-walking{
  position: absolute;
  top: 1700px;
  left: 50%;
  translate: -50%;
  width: 500px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(180deg, #671834 0%, #512D13 100%);
  filter: blur(200px);
}
.earn-while-walking +*{
  font-size: 60px;
  font-weight: 700;
  margin: 0 auto;
  width: max-content;
}
.step-big-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  background: #4431BA40;
  box-shadow: 0px 0px 20px 0px #00000066;
}
.step-mid-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #4431BA4D;
  box-shadow: 0px 0px 20px 0px #00000066;

}
.step-small-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #4431BA66;
  box-shadow: 0px 0px 20px 0px #00000066;

}
.earning-steps{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.steps{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 21px;
  margin: 60px 0 0;
}
.step-way{
  width: 130px;
  stroke-dasharray: 10px 15px 20px 15px 20px 15px;
}
.animated-card{
  position: absolute;
  top: 0;
  left: 0;  
  border-radius: 40px;
  width: 357px;
  height: 525px;
  transition: .5s ease-in-out;
}
.animated-card-back{
  position: relative;
  border-radius: 40px;
  width: 357px;
  height: 525px;
  background: #FFFFFF1F;
  box-shadow: -50px -50px 350px #4970ff6a;
  z-index: 5;
}
.animated-card-back:hover .animated-card{
  transform: translate(80px, -80px);
}
.animated-card-back:hover .icon-backdrop-blur{
  transform: translate(-180px, 250px) scale(1.05);
}
.animated-card-back:hover .animation-colors{
  transform: translate(-160px, 250px) scale(1.3);
}
.animated-card-back:hover .backdrop-blur-svg{
  transform: scale(1.3);
}
.backdrop-blur-svg{
  transition: .5s ease-in-out;
}
.upper-div{
  position: absolute;
  top: 0;
  left: 0;
  width: 357px;
  height: 272px;
  z-index: 3;
  background-color: #5036B9;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.bottom-div{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 357px;
  height: 298px;
  background: #00000052;
  backdrop-filter: blur(20px);
  z-index: 4;
  border-radius: 40px;
  padding: 43px 30px 40px 34px;
}
.icon-backdrop-blur{
  position: absolute;
  top: 196px;
  left: 112px;
  width: 133px;
  height: 133px;
  border: 2px solid #FFFFFF1F;
  background-color: #FFFFFF1A;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 10px 0px #00000040, 0px 0px 10px 0px #0000001A inset;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in-out;
  z-index: 2;
}
.animation-colors{
  position: absolute;
  width: 225px;
  height: 200px;
  top: 165px;
  left: 65px;
  transition: .5s ease-in-out;
}
.prices-row{
  display: flex;
  justify-content: center;
  gap: 45px;
}
.price-column{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 6px;
  width: 68px;
}
.price-line{
  width: 64px;
  border: none;
  border-top: 3px solid #FFFFFF;
  opacity: 0.2;
  border-radius: 3px;
  margin-bottom: 41px;
}
p{
  width: max-content;
}
.better-place{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 36px;
}
.Bid{
  width: 136px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24.5px;
  border: 1px solid #FFFFFF40;
  background: #00000099;
  cursor: pointer;
}
.Buy{
  background: #3580EF;
  border: none;
}
.bid-buy{
  display: flex;
  justify-content: center;
  gap: 18px;
}
.girl-user{
  position: absolute;
  width: 165px;
  height: 165px;
  top: 85px;
  left: 96px;
}
.icon-div{
  position: absolute;
  top: 78px;
  left: 215px;
  width: 54px;
  height: 54px;
  background: #FFFFFF1A;
  border: 2px solid #FFFFFF1F;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 10px 0px #00000040, 0px 0px 10px 0px #0000001A inset;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-Betterstep{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 231px;
}
.like-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 34px;
  border: 1px solid #FFFFFF1A;
  border-radius: 17px;
  background: #D9D9D936;
  gap: 7px;
  cursor: pointer;
}
.headline-row{
  display: flex;
  justify-content: center;
  gap: 74px;
}
.headline{
  font-size: 50px;
  font-weight: 800;
  margin: 0 0 30px;
}
.content{
  width: 549px;
  font-size: 22px;
  font-size: 400;
  opacity: .6;
  margin-bottom: 46px;
}
.back-btn{
  width: 96px;
  height: 34px;
  background: #D9D9D936;
  border: 1px solid #FFFFFF1A;
  backdrop-filter: blur(14px);
  border-radius: 17px;
  cursor: pointer;
}
.thrive-png{
  width: 357px;
  height: 298px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.bottom-div-2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 227px;
  box-shadow: 0px 10px 20px #000000, -10px -10px 20px #0000001A inset;
  backdrop-filter: blur(25px);
  background: #FFFFFF57;
  z-index: 1;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.common{
  width: 124px;
  height: 37px;
  border-radius: 30px;
  border: 2px solid #FFFFFF1F;
  background-color: #FFFFFF1A;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 10px 0px #00000040,0px 0px 10px 0px #0000001A inset;
  cursor: pointer;
}
.common-price-row{
  position: absolute;
  top: 244px;
  left: 58px;
  display: flex;
  justify-content: center;
  gap: 11px;
}
.green-svg{
  position: absolute;
  bottom: 25px;
  left: -16px;
  z-index: -8;
}
.purple-svg{
  position: absolute;
  bottom: 50px;
  right: -40px;
  z-index: -8;
}

.some-user{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 11px;
  margin: 24px 0 25px 25px;
}
.follow{
  width: 98px;
  height: 35.64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF57;
  border: 1px solid #00000033;
  box-shadow: 0px 0px 10px 0px #00000024;
  border-radius: 25px;
  color: #000;
  margin-left: 68px;
  cursor: pointer;
}
.thrive-content{
  margin: 0 auto 20px;
  width: 290px;
  font-size: 12px;
  color: #000;
}
a{
  text-decoration: none;
}
.link{
  cursor: pointer;
  color: #5174F4;
  font-weight: 600;
}
.launch-app-p{
  font-size: 24px;
  color: #5283FF;
  cursor: pointer;
}
.BetterStep-earn-and-thrive{
  margin-bottom: 200px;
}

.rarity-level{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.rarity-level-mid{
  opacity: .5;
  font-size: 24px;
  margin: 35px 0 15px 0;
}
.rarity{
  width: 1200px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000099;
  border: 2px solid #FFFFFF1F;
  border-radius: 40px;
  margin: 0 auto 200px;
}
.rarity-blur{
  position: absolute;
  top: 4410px;
  left: 50%;
  translate: -50%;
  filter: blur(200px);
  opacity: .5;
  background: linear-gradient(180deg, #C173FF 0%, #70EEFF 100%);
  width: 1150px;
  height: 455px;
  border-radius: 100%;
  z-index: -1;
}
.rarity-content{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 53px;
}
.rarity-content .rarity-tagline{
  font-size: 35px;
  opacity: 1;
  margin-bottom: 6px;
}
.rarity-content p{
  font-size: 30px;
  opacity: .6;
}
.rarity-color-content{
  gap: 35px;
}
.color{
  width: 54px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 15px var(--color);
  background: var(--color);
}
.vr{
  width: 2px;
  height: 475px;
  background-color: #FFFFFF;
  opacity: .1;
}

.small-icon-div{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-self: center;
  width: 1100px;
  margin: 0 0 200px;
}
.small-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  aspect-ratio: 1;
  background: #FFFFFF1F;
  border-radius: 34px;
  backdrop-filter: blur(20px);
  margin: 10px;
}

.team{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.worker{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.worker-div{
  width: 346px;
  height: 365px;
  background: #FFFFFF14;
  border-radius: 32px;
  border: 2px solid #FFFFFF1F;
}
.worker-name{
  font-size: 35px;
  font-weight: 800;
  margin: 30px 0 16px;
}
.profestion{
  font-size: 25px;
  font-weight: 400;
  opacity: .6;
}
.Faq-blur{
  width: 849px;
  height: 343px;
  background: linear-gradient(180deg, #671834 0%, #512D13 100%);
  top: 6200px;
  filter: blur(400px);
  opacity: 1;
}
.faq-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 116px;
  border-radius: 24px;
  background: #FFFFFF14;
  border: 2px solid #FFFFFF1F;
  padding: 42px 45px;
}
.faq-div p{
  font-size: 30px;
  font-weight: 800;
}
.FAQ{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}